@import 'variables';

body {
  font-family: var(--font-primary);
  transition: background-color 0.3s ease-in-out;
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--dark-text-primary);
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--light-text-primary);
}

.button {
  text-transform: uppercase;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.dark-button {
  background: var(--dark-gradient);
  box-shadow: var(--dark-button-shadow);
  padding: 0.75rem 1.5rem;
  border-radius: 0.625rem;

  &:hover {
    box-shadow: var(--dark-hover-shadow);
    transform: scale(1.05);
  }
}

.light-button {
  background: var(--light-gradient);
  box-shadow: var(--light-button-shadow);
  padding: 0.75rem 1.5rem;
  border-radius: 0.625rem;

  &:hover {
    box-shadow: var(--light-hover-shadow);
    transform: scale(1.05);
  }
}

.card {
  border-radius: 0.75rem;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.dark-card {
  background-color: var(--dark-paper);
  box-shadow: var(--dark-card-shadow);
}

.light-card {
  background-color: var(--light-paper);
  box-shadow: var(--light-card-shadow);
}